.rule {
    background: #f6f6f6;
    padding: 70px;
}

.rule-head {
    display: flex;
    justify-content: center;
}

.rule-link {
    text-align: left;
    font-size: 130%;
    /* padding: 10px; */
    font-weight: 100;
    display: flex;
    /* padding: 29px 106px; */
}
.rule-link  li{
   margin-top: 16px;
}